.kisKep{
    width: 80px;
}
#kepekHelye{
    text-align: center;
    margin-top: 30px;
}
h1{
    text-align: center;
}
#nagyKep{
    text-align: center;
    margin-top: 30px;
    
}
#gombokHelye{
    text-align: center;
    margin-top: 30px;
}
#Kerdes{
    text-align: center;
}